# ----
# Site

title: Ayuda de Deepin en Espa침ol
url: "http://ayuda.deepin.ovh"
# NOTA: Nombre provisional /basedata
baseurl: ""
google_analytics_key:
disqus_shortname:
newsletter_action:
repo_source: https://gitlab.com/deepin-espanol/basedata/tree/master
official_url: http://ayuda.deepin.ovh
pluscomments: true

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /images/favicon/favicon-32x32.png
description: Informaci칩n de usuarios y desarrolladores
author:
  name: Deepin en Espa침ol
  email:
  twitter: # twitter username without the @ symbol
social:
  name: Deepin en Espa침ol
  links:
    - http://deepin.ovh
    - https://t.me/deepinenespanol

# -----
# Build

permalink: /deepin/:title/

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-archives
  - jekyll-paginate-v2
  - jekyll-email-protect
  - emoji_for_jekyll
  - reduce

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

exclude_paths:
    - "changelog/"
    - "licenses/"

collections:
  sets:
  cheat_sheet:
  dsoftwares:
    output: true

jekyll-archives:
  enabled: ['tags']
  permalinks:
    tag: '/:name/'

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      type: "posts"
    values:
      layout: "post"
      comments: true
  -
    scope:
      type: "sets"
    values:
      _hide_content: true
  -
      scope:
        type: "dsoftwares"
      values:
        layout: dsoftware
  -
    scope:
      path: "index.html"
    values:
      body_class: "show_hero_search"
  -
    scope:
      path: "search.html"
    values:
      body_class: "show_hero_search"
# -----------
# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Telegram
  - Tumblr
  - Twitter
  - YouTube
  - Email
  - RSS

types:
  - Document
  - Video

_comments:

# --------------
# Icons

favicon-32x32:                          'favicon-32x32.png'
touch-icon-192x192:                     'touch-icon-192x192.png'
apple-touch-icon-180x180-precomposed:   'apple-touch-icon-180x180-precomposed.png'
apple-touch-icon-152x152-precomposed:   'apple-touch-icon-152x152-precomposed.png'
apple-touch-icon-144x144-precomposed:   'apple-touch-icon-144x144-precomposed.png'
apple-touch-icon-120x120-precomposed:   'apple-touch-icon-120x120-precomposed.png'
apple-touch-icon-114x114-precomposed:   'apple-touch-icon-114x114-precomposed.png'
apple-touch-icon-76x76-precomposed:     'apple-touch-icon-76x76-precomposed.png'
apple-touch-icon-72x72-precomposed:     'apple-touch-icon-72x72-precomposed.png'
apple-touch-icon-precomposed:           'apple-touch-icon-precomposed.png'
msapplication_tileimage:                'msapplication_tileimage.png'               # Size 144x144
msapplication_tilecolor: '#fabb00'
