---
permalink: /deepin-comandos-terminal/
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/cheats.css" type="text/css" >

<style type="text/css">
	.column { float: left; }
	.column.size-1of1 { width: 100%; }
	.column.size-1of2 { width: 50%; }
	.column.size-1of3 { width: 33.333%; }
	.column.size-1of4 { width: 25%; }
	.column.size-1of5 { width: 20%; }

	#grid[data-columns]::before {
		color: #3a3a3a;
		font-size: 1px;
	}

	@media screen and (max-width: 940px){
		#grid[data-columns]::before {
			content: '1 .column.size-1of1';
		}
	}

	@media screen and (min-width: 940px) and (max-width: 1230px) {
		#grid[data-columns]::before {
			content: '2 .column.size-1of2';
		}
	}
	@media screen and (min-width: 1230px) {
		#grid[data-columns]::before {
			content: '3 .column.size-1of3';
		}
	}
</style>
<h1>Hoja de ayuda Deepin</h1>
<p>Estos son algunos código para la terminal.</p>

{% assign cheats = site.cheat_sheet | sort: "path" %}
<div class="cheats" id="grid" data-columns>
	{% assign previous_category = null %}
	{% for cheat in cheats %}
		{% if cheat.title %}
			{% assign split_path = cheat.path | split: "/" %}
			{% assign split_path_size = split_path | size %}
			{% assign category = split_path[1] %}

			{% if previous_category != category %}
				{% if previous_category %}
						</ul>
					</section>
				{% endif %}
				{% assign previous_category = category %}
				<section>
					<h2 id="{{ category | slugify }}">{{ category | replace: "_", " " | replace: " Y ", " y " | capitalize }} <a target="_blank" href="Comando {{ site.data.cheat-sheet-links[category] }}"></a></h2>
					<ul class="list-items">
			{% endif %}

			<li>{% include render_cheat.html cheat=cheat %}</li>
		{% endif %}
	{% endfor %}
		</ul>
	</section>
</div>
<script type="text/javascript" src="/js/main.min.js"></script>

<script type="text/javascript" src="/js/salvattore.min.js" class="cms-no-rewrite"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('.list-items h4').click(function () {
			$(this).parent().toggleClass('show');
			$(this).parent().find('.inner-content').slideToggle(200);
		});
	});
</script>
