---
faq:
  - question: ¿Qué es Ayuda de Deepin?
    answer: Es un proyecto que recopila varios artículos para todos los usuarios.
  - question: ¿Qué es el manual?
    answer: Es una categoría que contiene información escencial como la instalación y los primeros usos.
  - question: ¿Qué es la sección Básica?
    answer: Es la sección importante de esta ayuda, para que descargues, instales y actualices Deepin
  - question: ¿Qué son las dudas frecuentes?
    answer: Son recopilatorios, en donde respondemos varias preguntas realizadas en foros y redes sociales. Se encuentra en los Anexos.
  - question: ¿Puedo compartir este manual?
    answer: Sí. Los enlaces se muestran al terminar el artículo.
  - question: ¿El manual es de código abierto?
    answer: Sí. Está como "database" en el Gitlab y Github de Deepin en Español.
  - question: ¿Tienen una página de contacto?
    answer: Por ahora, no. Si quieres comunicar con el grupo, visita http://deepin.ovh.
---

<h1>Preguntas y respuestas</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
