---
---

<section>
	{% for set_name in page.sets %}
		{% assign set_file_name = "_sets/" | append: set_name | append: ".md" %}
		{% assign set = site.sets | where: "path", set_file_name | first %}
		{% assign series_posts = site.posts | where: "set", set_name | sort: "set_order" %}
		<div class="featured-series">
			<h2>{{ set.title }}</h2>
			<p>{{ set.description }}</p>

			{% include listings.html listings=series_posts custom_icon=true %}
		</div>
	{% endfor %}
</section>

<h2>Aprende más</h2>
<p>¡Bienvenidos a Deepin en Español!</p>

<section class="categories">
	{% assign categories = site.categories | sort %}
	{% for category in categories %}
		{% assign name = category[0] %}
		{% assign posts = category[1] %}
		{% assign size = posts | size %}
		<section class="category">
				<h3>
					<a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ name | replace: "-", " " }}</a>
				</h3>

			<ul>
				{% assign tutorials = posts | sort: "title" %}
				{% for tutorial in tutorials limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ tutorial.url }}">{% include document-icon.html icon=tutorial.type %}{{ tutorial.title }}</a></li>
				{% endfor %}
				{% if size > 4 %}
					<li><a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ size | minus: 4 }} more...</a></li>
				{% endif %}
			</ul>
		</section>
	{% endfor %}
</section>
