---
---
{% assign videogaleria = site.posts | where: "type", "videogaleria" | sort: "title" %}

<h2>Videogalería <span class="count">({{ videogaleria | size }})</span></h2>

{% include listings.html listings=videogaleria %}
